---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import PostMetadata from "@components/PostMetadata";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { slugifyStr } from "@utils/slugify";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, author, description, ogImage, pubDatetime, modDatetime, tags } = post.data;
const { Content, remarkPluginFrontmatter } = await post.render();
const frontmatter = remarkPluginFrontmatter as CollectionEntry<"blog">["data"];
const slug = post.slug;

//const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin).href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogImage}
  postSlug={slug}
>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex items-center hover:opacity-75"
      onclick="history.back()"
    >
      <Icon name="tabler:arrow-narrow-left" class="h-5 w-5" />
      <span class="ml-2">Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <PostMetadata pubDatetime={pubDatetime} modDatetime={modDatetime} readingTime={frontmatter.readingTime!} size="lg" />
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
    <div class="mt-8 flex flex-row flex-wrap">
      {tags.map(tag => <Tag tag={slugifyStr(tag)} />)}
    </div>
    <div class="giscus mt-8"></div>
    <div class="flex justify-end mt-8">
      <button
        id="back-to-top"
        class="focus-outline whitespace-nowrap hover:opacity-75"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
        <span>Back to Top</span>
      </button>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent sm:text-3xl;
  }
</style>

<script is:inline>
  /* When the user clicks on the "Back to Top" button,
   * scroll to the top of the document */
  document.querySelector("#back-to-top")?.addEventListener("click", () => {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  });
</script>
